# Pandas Cheat Sheet_3

* cheat sheet: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
* source:인프런_단두장의 문서로 데이터 분석과 시각화 뽀개기 by 박조은강사님
* https://www.inflearn.com/course/%ED%8C%90%EB%8B%A4%EC%8A%A4-pandas/

In [31]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
df = sns.load_dataset('iris')
df.shape

(150, 5)

In [4]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

## Summarize Data

### Counting vlalues, rows, columns...

In [13]:
df['species'].value_counts() #uique value별로 몇 개씩 있는지 #주로 categorical value에 씀

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

In [8]:
pd.DataFrame(df['species'].value_counts()) #pd.DataFrame() 으로 데이타프레임화

            species
versicolor       50
setosa           50
virginica        50

In [11]:
len(df) #행길이

150

In [12]:
df.shape #행,열 길이

(150, 5)

In [15]:
df['species'].nunique() #unique 값이 몇 개 있는지

3

### Summarizing (describe data)

In [18]:
df.describe() #수치형 값에 대한 요약

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [20]:
df.describe(include = 'all') #default는 none

        sepal_length  sepal_width  petal_length  petal_width     species
count     150.000000   150.000000    150.000000   150.000000         150
unique           NaN          NaN           NaN          NaN           3
top              NaN          NaN           NaN          NaN  versicolor
freq             NaN          NaN           NaN          NaN          50
mean        5.843333     3.057333      3.758000     1.199333         NaN
std         0.828066     0.435866      1.765298     0.762238         NaN
min         4.300000     2.000000      1.000000     0.100000         NaN
25%         5.100000     2.800000      1.600000     0.300000         NaN
50%         5.800000     3.000000      4.350000     1.300000         NaN
75%         6.400000     3.300000      5.100000     1.800000         NaN
max         7.900000     4.400000      6.900000     2.500000         NaN

In [35]:
df.describe(include = [np.object])  #숫자만: [np.number]

           species
count          150
unique           3
top     versicolor
freq            50

### Functions for summarizing

In [48]:
df['petal_width'].sum() #합계

179.90000000000003

In [40]:
df.sum()

sepal_length                                                876.5
sepal_width                                                 458.6
petal_length                                                563.7
petal_width                                                 179.9
species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object

In [49]:
df['petal_width'].count() #count

150

In [50]:
df['petal_width'].median()  #중앙값

1.3

In [39]:
df['petal_width'].mean() #평균값

1.199333333333334

In [51]:
df['petal_width'].quantile([0.25,0.75]) #사분위수(분위지정)

0.25    0.3
0.75    1.8
Name: petal_width, dtype: float64

In [44]:
df.min()  #최소값

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object

In [45]:
df.max() #최대값

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [46]:
df.var()  #분산

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

In [47]:
df.std()  #표준편차

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64