# Pandas Cheat Sheet_4

* cheat sheet: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
* source:인프런_단두장의 문서로 데이터 분석과 시각화 뽀개기 by 박조은강사님
* https://www.inflearn.com/course/%ED%8C%90%EB%8B%A4%EC%8A%A4-pandas/

In [5]:
import pandas as pd
import numpy as np

## Handling Missing Data

In [8]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5]],
                  columns=list('ABCD'))
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

### dropna()

기능: 행이나 열을 모두 제거함 

**Parameters**
* axis : 0=행(default), 1=열
* how: any = NA가 1개라도 있을 때(default), all= 모든 value가 NA일 때 
* inplace : True =결과값을 데이터에 바로 반영  / False = 결과만 return (default)

In [9]:
df.dropna(axis = 1, how = 'all')

     A    B  D
0  NaN  2.0  0
1  3.0  4.0  1
2  NaN  NaN  5

In [10]:
df.dropna(axis = 1, how = 'any')

   D
0  0
1  1
2  5

In [11]:
df.dropna(axis = 0, how = 'any')

Empty DataFrame
Columns: [A, B, C, D]
Index: []

### fillna()

기능: na값을 특정 값으로 채움 

**Parameters**
* value : 채울 값 / scalar, dict, Series, or DataFrame
* Method: 자동채움 방법 
  - pad / ffill: 관측값을 다음 nan에 채움
  - backfill / bfill: 관측값을 이전 nan에 채움 
  - defalut: None
* axis : 0=행(default), 1=열
* limit : 대체할 nan 갯수 설정

In [22]:
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [26]:
#값으로 채우기
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5

In [27]:
#리스트로 지정하여 채우기
values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
df.fillna(values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5

In [35]:
#연산식으로 채우기
fill_value=df['D'].mean()
fill_value

2.0

In [34]:
df.fillna(fill_value)

     A    B    C  D
0  2.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  2.0  2.0  2.0  5

In [36]:
#Method 
df.fillna(method = 'ffill', axis= 0)

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5

In [21]:
df.fillna(method = 'ffill', axis= 1)

     A    B    C    D
0  NaN  2.0  2.0  0.0
1  3.0  4.0  4.0  1.0
2  NaN  NaN  NaN  5.0

In [23]:
df.fillna(method = 'bfill', axis = 0)

     A    B   C  D
0  3.0  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [24]:
df.fillna(method = 'bfill', axis = 1)

     A    B    C    D
0  2.0  2.0  0.0  0.0
1  3.0  4.0  1.0  1.0
2  5.0  5.0  5.0  5.0

In [37]:
#결측치 갯수 확인 (복습)
df.isnull()

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True  False

In [39]:
df.isnull().sum()

A    2
B    1
C    3
D    0
dtype: int64

In [46]:
df.isnull().any()

A     True
B     True
C     True
D    False
dtype: bool

In [40]:
df.notnull()

       A      B      C     D
0  False   True  False  True
1   True   True  False  True
2  False  False  False  True

In [41]:
df.notnull().sum()

A    1
B    2
C    0
D    3
dtype: int64

In [52]:
df.notnull().all()

A    False
B    False
C    False
D     True
dtype: bool