# Pandas Cheat Sheet_5
* cheat sheet: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
* source: [인프런_단두장의 문서로 데이터 분석과 시각화 뽀개기 by 박조은강사님](https://www.inflearn.com/course/%ED%8C%90%EB%8B%A4%EC%8A%A4-pandas/)

In [6]:
import pandas as pd
import numpy as np

## Make New Columns

In [7]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1  0.570176
1   2  0.792063
2   3 -0.936051
3   4  2.041218
4   5  0.948811
5   6 -0.342649
6   7 -0.320338
7   8 -0.068344
8   9  0.653232
9  10  0.105250

### df.assign(New = ~~)

In [5]:
df.assign?

In [10]:
df.assign(ln_A=lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1  0.570176  0.000000
1  2  0.792063  0.693147
2  3 -0.936051  1.098612
3  4  2.041218  1.386294
4  5  0.948811  1.609438

### df['New'] = ~~

In [22]:
df["ln_A"]=np.log(df.A)
df

    A         B      ln_A
0   1  0.570176  0.000000
1   2  0.792063  0.693147
2   3 -0.936051  1.098612
3   4  2.041218  1.386294
4   5  0.948811  1.609438
5   6 -0.342649  1.791759
6   7 -0.320338  1.945910
7   8 -0.068344  2.079442
8   9  0.653232  2.197225
9  10  0.105250  2.302585

### pd.qcut

기능: 숫자형 데이터를 분위수(동일길이)로 나누어 범주화. Lable 옵션

**parameters**
* x : 기준숫자 목록
* q : 나눌 분위수 (10분위수, 4분위수 등)
* labels : 분류에 대한 명칭. 갯수는 q와 같아야함. 미지정시 숫자범위

In [19]:
pd.qcut(df.B, 3, labels=["good", "medium", "bad"])

0    medium
1       bad
2      good
3       bad
4       bad
5      good
6      good
7      good
8    medium
9    medium
Name: B, dtype: category
Categories (3, object): ['good' < 'medium' < 'bad']

### max / min (axis=1)

In [26]:
df.max(axis=0)  #axis=0: 행 끼리 비교 ->컬럼에서의 최대값

A       10.000000
B        2.041218
ln_A     2.302585
dtype: float64

In [27]:
df.min(axis=1) #axis=1 열끼리 비교 -> 로우에서 최소값

0    0.000000
1    0.693147
2   -0.936051
3    1.386294
4    0.948811
5   -0.342649
6   -0.320338
7   -0.068344
8    0.653232
9    0.105250
dtype: float64

### clip(lower= , upper= )

기능: Assigns values outside boundary to boundary values

In [36]:
df["A"]

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [31]:
df["A"].clip(lower=3, upper=7)

0    3
1    3
2    3
3    4
4    5
5    6
6    7
7    7
8    7
9    7
Name: A, dtype: int64

### abs

In [34]:
df["B"]

0    0.570176
1    0.792063
2   -0.936051
3    2.041218
4    0.948811
5   -0.342649
6   -0.320338
7   -0.068344
8    0.653232
9    0.105250
Name: B, dtype: float64

In [35]:
df["B"].abs()

0    0.570176
1    0.792063
2    0.936051
3    2.041218
4    0.948811
5    0.342649
6    0.320338
7    0.068344
8    0.653232
9    0.105250
Name: B, dtype: float64