# Pandas Cheat Sheet_7
* cheat sheet: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
* source: [인프런_단두장의 문서로 데이터 분석과 시각화 뽀개기 by 박조은강사님](https://www.inflearn.com/course/%ED%8C%90%EB%8B%A4%EC%8A%A4-pandas/)

In [1]:
import pandas as pd

In [2]:
adf = pd.DataFrame({"x1":["A","B","C"], "x2" : [1, 2 ,3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [3]:
bdf = pd.DataFrame({"x1":["A","B","D"], "x3" : ["T", "F", "T"]})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

## Combine Data Sets

### Merge

Merge DataFrame or named Series objects with a database-style join.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.

```python
pd.merge(
    left,
    right,
    how: str = 'inner',  # {'left', 'right', 'outer', 'inner'}, default 'inner'
    on=None,
    left_on=None,
    right_on=None,
    left_index: bool = False,
    right_index: bool = False,
    sort: bool = False,
    suffixes=('_x', '_y'),
    copy: bool = True,
    indicator: bool = False,
    validate=None,
) -> 'DataFrame'
```

In [15]:
pd.merge(adf,bdf)

  x1  x2 x3
0  A   1  T
1  B   2  F

In [4]:
pd.merge(adf,bdf,how='left', on='x1') #left join

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [5]:
pd.merge(adf,bdf,how='right', on='x1') #right join

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [6]:
pd.merge(adf,bdf,how='inner', on='x1') #inner join

  x1  x2 x3
0  A   1  T
1  B   2  F

In [7]:
pd.merge(adf,bdf,how='outer', on='x1') # outer join

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [8]:
adf.x1.isin(bdf.x1)

0     True
1     True
2    False
Name: x1, dtype: bool

### isin을 활용한 데이터 필터링

In [9]:
adf[adf.x1.isin(bdf.x1)] # adf와 bdf의 x1열에서 동일하게 존재하는 값이 있는, adf의 모든 행값 가져오기

  x1  x2
0  A   1
1  B   2

In [10]:
adf.x1.isin(bdf.x1)

0     True
1     True
2    False
Name: x1, dtype: bool

In [11]:
adf[~adf.x1.isin(bdf.x1)]

  x1  x2
2  C   3

### 행방향 merge  
열 이름이 같을 때, 별도의 'on'이 없어도 모든 컬럼에 대해 수행

In [12]:
ydf = pd.DataFrame({"x1" : ["A", "B", "C"],"x2" : [1, 2, 3]})
ydf

  x1  x2
0  A   1
1  B   2
2  C   3

In [14]:
zdf = pd.DataFrame({"x1":["B","C","D"], "x2" : [2 ,3,4]})
zdf

  x1  x2
0  B   2
1  C   3
2  D   4

In [16]:
pd.merge(ydf,zdf)

  x1  x2
0  B   2
1  C   3

In [19]:
pd.merge(ydf, zdf, how= 'outer')

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4