* 강의안 출처: 러닝스푼즈_나도디그리3기_파이썬 기초와 시각화_박조은 강사님
* 무료로 공부할 수 있는 파이썬 온라인 자료
* [The Python Tutorial — Python documentation](https://docs.python.org/3/tutorial/index.html)
* [점프 투 파이썬 - WikiDocs](https://wikidocs.net/book/1)
* [강좌: 파이썬 코딩 도장](https://dojang.io/course/view.php?id=7)

In [ ]:
# 현재 주피터 노트북이 있는 경로

## Zen of Python
* 파이썬의 철학이 잘 담겨있는 Zen of Python 을 출력해 봅니다.
* import를 통해 파이썬의 라이브러리나 패키지를 가져올 수 있습니다.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## boolean
* 파이썬에는 명시적인 것이 암시적인 것보다 낫다라는 철학이 있습니다.
* True나 False는 0과 1로도 표현할 수 있으나 명시적으로 표현하기 위해 True와 False를 사용합니다.

In [5]:
# True를 출력해 보세요. (대소문자를 구분함. 첫글자만 대문자로 지정할 것. else, 변수로 인식)
True

True

In [6]:
# False 를 출력해 보세요. (초록색으로 글씨가 변하는데, 예약 연산자이기 때문. 변수명으로 사용할 수 없음)
False

False

In [9]:
# True는 1과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다. ('='는 변수 지정. )
True == 1

True

In [13]:
# False는 0과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다.
False == 0
False == 1

False

In [14]:
# 하지만 True는 문자 1과는 다릅니다. 1을 따옴표로 감싸면 문자열이 됩니다.
True == "1"

False

In [15]:
# 문자열 1과 True는 다릅니다.
"1" == True

False

In [16]:
# False 도 마찬가지 입니다. 
False =="0"

False

In [17]:
# 문자열 0과 False는 다릅니다.
"0" == False

False

In [18]:
# and 연산으로 True 값 끼리 비교합니다.
# and 는 모든 값이 True 일때만 True 가 됩니다. 
True and True

True

In [19]:
# and 는 조건 중 하나라도 False 라면 False가 됩니다.
True and False and True

False

In [21]:
# or 는 하나만 True 라도 True가 됩니다.
True or False

True

In [22]:
# True == 1, False == 0 과 같기 때문에 연산을 할 수 있습니다.
True + True + False

2

## 숫자
* 숫자 1과 문자 "1"은 다릅니다. 숫자1과 문자1의 데이터 타입을 출력해 보세요.
* 데이터 타입을 표현할 때 type을 통해 데이터를 출력합니다.

In [23]:
# 숫자 1을 출력해 보세요.
1

1

In [24]:
# 문자 1을 출력해 보세요.
"1"

'1'

In [25]:
# 숫자 1의 데이터 타입을 출력해 보세요.
type(1)

int

In [26]:
# 문자 1의 데이터 타입을 출력해 보세요.
type("1")

str

In [27]:
# 문자 1과 숫자 1을 비교합니다.
1 == "1"

False

## 변수
* 숫자로 시작할 수 없습니다.
* 언더바(_)를 제외한 특수문자를 사용할 수 없습니다.

|연산자|기능|
|--|--|
| == | 비교연산 |
| = | 할당연산 |

In [45]:
a = 1

In [48]:
b = a+1
b,a

(2, 1)

In [49]:
a+b

3

In [50]:
a-b

-1

## 문자열
* https://docs.python.org/3/tutorial/introduction.html#strings

In [52]:
# "Hello World!" 를 출력해 봅니다.
"Hello World!"

'Hello World!'

In [53]:
#따옴표를 ''로 쓸 수도 있다.
'Hello World!'

'Hello World!'

In [54]:
#한 문자열 안에 따옴표를 쓰고 싶을 떄, 서로 다른 따옴표를 사용한다. 
" phtyon's lang"

" phtyon's lang"

In [1]:
# til 이라는 변수에 문자열을 담아봅니다.
til = "Today I Learned"
til
til  # 주피터 노트북은 맨 마지막 변수 하나만 출력한다.

'Today I Learned'

In [3]:
# 소문자로 만들어 보세요.
til.lower()

'today i learned'

In [4]:
# 대문자로 만들어 보세요.
til.upper()

'TODAY I LEARNED'

In [5]:
# 첫글자만 대문자로 만들어 보세요.
til.capitalize()

'Today i learned'

In [59]:
# 주소 "서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층" 을 출력해 봅니다.
"서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층"

'서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층'

In [60]:
# 주소를 address 변수에 담습니다.
address = " 서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층"
address

' 서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층'

In [64]:
# strip 메소드를 사용해 공백을 제거합니다.   #문자열 앞/뒤의 공백을 제거해 텍스트가 정확히 입력되도록 함. 
address = address.strip()
address                                      #영문 대/소문자 구분을 하므로 전처리시에는 모두 통일 시켜준다.

'서울특별시 강남구 역삼동 강남대로94길 15 S2빌딩 3층'

### 문자열의 인덱싱과 슬라이싱

In [65]:
# 인덱싱으로 문자 가져오기  주의!!'0'부터 시작한다
address[0]

'서'

In [67]:
# 인덱싱으로 문자 가져오기
address[-1]  #오른쪽에서부터 센다. -1부터 시작

'층'

In [91]:
# 슬라이싱으로 문자 가져오기 
#[시작인덱스:끝나는 인덱스 +1]
address[0:5]

'서울특별시'

## 리스트

* https://docs.python.org/3/tutorial/introduction.html#lists

In [71]:
# 비어있는 리스트를 만듭니다.
[ ]

[]

In [72]:
# 소화제, 감기약을 원소에 추가합니다.
["소화제", "감기약"]

['소화제', '감기약']

In [12]:
# medicine 라는 변수에 해열제를 담아봅니다.
medicine = ["소화제", "감기약"]
medicine

['소화제', '감기약']

In [13]:
medicine = medicine + ["비타민", "해열제"]
medicine

['소화제', '감기약', '비타민', '해열제']

### 리스트에 원소 추가 삭제하기

In [87]:
# append 로 "마그네슘" 원소 추가하기
medicine.append("마그네슘")
medicine

['소화제', '감기약 ', '비타민', '해열제', '마그네슘']

In [88]:
# remove 로 원소 삭제하기
medicine.remove("마그네슘")
medicine

['소화제', '감기약 ', '비타민', '해열제']

### 리스트의 인덱싱

In [89]:
# medicine 라는 변수에 담겨있는 소화제를 인덱싱을 통해 가져옵니다.
medicine[0]

'소화제'

In [92]:
# 1번 인덱스를 가져옵니다.
medicine[1]

'감기약 '

In [94]:
# 마지막 인덱스를 가져옵니다.
medicine[-1]

'해열제'

### 문자열을 리스트로 만들기

In [95]:
# split을 사용해 address를 공백으로 문자열 분리하고 address_list 라는 변수에 담습니다.
address_list = address.split()  #괄호 안의 값을 기준으로 list로 나누는 함수.
address_list

['서울특별시', '강남구', '역삼동', '강남대로94길', '15', 'S2빌딩', '3층']

In [97]:
type(address)

str

In [98]:
type(address_list)

list

In [99]:
# 문자열의 길이
len(address)

32

In [101]:
# 리스트의 길이
len(address_list)

7

In [102]:
# 인덱싱으로 서울특별시만 가져옵니다.
address_list[0]

'서울특별시'

In [103]:
# 인덱싱으로 강남구만 가져옵니다.
address_list[1]

'강남구'

In [105]:
# 슬라이싱으로 "강남구" 만 가져오기
# [시작인덱스:끝나는인덱스+1]
address[6:9]

'강남구'

In [106]:
# startswith 를 사용하면 특정 문자로 시작하는지 여부를 확인할 수 있습니다.
address.startswith("서울")

True

### 문자열과 리스트의 in

In [107]:
# in 을 사용하게 되면 특정 문자열을 포함하고 있는지 여부를 확인할 수 있습니다.
"서울" in address

True

In [109]:
# in 을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "서울특별시"가 리스트에 포함되는지 봅니다.
# list에서는 완전히 일치하는지를 확인한다. 
"서울" in address_list
"서울특별시" in address_list

True

In [110]:
# in 을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "강남구"가 리스트에 포함되는지 봅니다.
"강남구" in address_list

True

In [111]:
"강남" in address  #문자열 'address'에서는 포함하는지 여부를 반환

True

In [112]:
"강남" in address_list  #list 'address_list'는 정확한 값을 비교함

False

In [114]:
# " ".join(리스트) 를 사용하면 리스트를 공백 문자열을 연결할 수 있습니다.
# 리스트로 분리된 문자열을 다시 연결합니다.
# add 
" ".join(address_list) #""안의 문자열로 리스트를 이어줌.
",".join(address_list)

'서울특별시,강남구,역삼동,강남대로94길,15,S2빌딩,3층'

## 딕셔너리
* https://docs.python.org/3/tutorial/datastructures.html#dictionaries

In [16]:
#         key      value
phone = {'서울' : '02',          # 따옴표 없이 숫자만 넣을 수 있지만, 앞에 0이 들어간 경우
         '경기': '031',          # 적절하지 않은 숫자 표현이기 때문에 ''를 통해 문자화 해야한다.
         '인천': '032',
         '대전': '042',
         '부산': '051',
         '울산': '052',
         '대구': '053',
         '광주': '062'}
phone

{'서울': '02',
 '경기': '031',
 '인천': '032',
 '대전': '042',
 '부산': '051',
 '울산': '052',
 '대구': '053',
 '광주': '062'}

In [25]:
# "서울" 의 값 가져오기. 
phone [0]    #dictionary는 key값으로만 호출이 가능. 위치로 호출 불가

KeyError: 0

In [122]:
# "경기" 의 값 가져오기
phone [ "경기"]

'031'

In [126]:
# "제주" : 063 을 딕셔너리에 추가하기
phone["제주"]= "063"
phone

{'서울': '02',
 '경기': '031',
 '인천': '032',
 '대전': '042',
 '부산': '051',
 '울산': '052',
 '대구': '053',
 '광주': '062',
 '제주': '063'}

##  제어문
* 조건문(if)
* 반복문(for, while)
* [4. More Control Flow Tools — Python documentation](https://docs.python.org/3/tutorial/controlflow.html)

In [123]:
# range를 사용하면 for문의 반복수를 지정할 수 있습니다.   실행이 오래걸려 코드 중지하고싶으면 상단에 네모 아이콘 눌러 정지
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
# range 를 사용해 5번 for문을 반복하도록 하고 인덱스 번호가 짝수일 때 소화제 홀수 일 때 해열제를 출력하도록 합니다.
for i in range(5):
    if i % 2 == 0: # 짝수     '%'는 나머지연산자
        print(i, "소화제")
    else:                 #홀수
        print(i, "해열제")

0 소화제
1 해열제
2 소화제
3 해열제
4 소화제

In [127]:
medicine

['소화제', '감기약 ', '비타민', '해열제']

In [128]:
# 반복문을 통해 medicine이라는 변수에 담긴 리스트의 원소를 하나씩 출력합니다.
for m in medicine:
    print(m)

소화제
감기약
비타민
해열제

In [129]:
# 위 코드에서 소화제일 때는 그대로 출력하고 나머지 텍스트는 "기타"라고 출력합니다
# 출력 결과가 아래의 순서로 나오도록 합니다.
# 소화제
# 기타
# 기타
# for 변수명 in 리스트명:'
for m in medicine:
    if m == "소화제":
        print(m)
    else:
        print("기타")

소화제
기타
기타
기타

In [130]:
# store 변수에 지점명을 담아줍니다.
store = ["서울역점", "강남점", "마포점", "여의도점"]
store

['서울역점', '강남점', '마포점', '여의도점']

In [131]:
# 지점별로 print문을 통해 출력해 봅니다.
for s in store:
    print(s)

서울역점
강남점
마포점
여의도점

In [132]:
# enumerate를 사용하면 인덱스 번호와 원소를 같이 가져올 수 있습니다.
for s in enumerate(store):
    print(s)

(0, '서울역점')
(1, '강남점')
(2, '마포점')
(3, '여의도점')

In [133]:
for i, s in enumerate(store):
    print(i, s)

0 서울역점
1 강남점
2 마포점
3 여의도점

### 응용
*  딕셔너리의 결과가 아래와 같이 나오도록 아래의 문자열을 변경해 보세요.
```
{'경기': '031',
 '강원': '033',
 '충남': '041',
 '충북': '043',
 '경북': '054',
 '경남': '055',
 '전남': '061',
 '전북': '063'}
```

In [32]:
# 아래의 문자를 딕셔너리 형태로 변경하기
phone = ">경기 031 >강원 033 >충남 041 >충북 043 >경북 054 >경남 055 >전남 061 >전북 063"
phone

'>경기 031 >강원 033 >충남 041 >충북 043 >경북 054 >경남 055 >전남 061 >전북 063'

In [33]:
# ">" 문자를 기준으로 문자열을 나눕니다.
# phone_split

phone=phone.split(">")
phone

['',
 '경기 031 ',
 '강원 033 ',
 '충남 041 ',
 '충북 043 ',
 '경북 054 ',
 '경남 055 ',
 '전남 061 ',
 '전북 063']

In [47]:
phone[1].split()[0]

'경기'

In [72]:
#for문 사용하기 
phone_dict = {}
#phone_dict["경기"] = "031"

numbers = range(1,9)
for i in numbers:
    phone_dict[phone[i].split()[0]]= phone[i].split()[1]

phone_dict

{'경기': '031',
 '강원': '033',
 '충남': '041',
 '충북': '043',
 '경북': '054',
 '경남': '055',
 '전남': '061',
 '전북': '063'}

## 함수

In [144]:
date = "2020.11.01"
date

'2020.11.01'

In [149]:
# ctrl + / : 주석처리 
def parse_month(date):
    """월을 반환하는 함수"""
    month = date.split(".")[1]
    return month

In [150]:
parse_month(date)

'11'

In [73]:
def parse_phone(phone_num):
    """전화번호의 국번을 반환하는 함수"""
    return phone_num.split("-")[0]

In [74]:
parse_phone("02-6739-1009")

'02'

In [75]:
#? : 도움말
#?? : 소스코드
??parse_phone